.container {
	max-width: 1000px !important;
}

#navbarNavDropdown {
	max-width: 1000px !important;
}

nav {
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 8px;
	padding-right: 8px
}

.navbar-brand {
	height: 50px !important;
}

.alert {
	border-radius: 0px !important;
	display: none;
}

.form-control, .btn {
	outline: none;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.form-control:focus {
	border: 1px solid
}

div ul li {
	width: 95px;
	text-align: center
}

main {
	background-color: #f8f9fa !important;
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif;
	background-color: #e5e5e5 !important
}

.my-table tbody tr:hover {
	background-color: #337ab7 !important;
	color: white;
	font-weight: bold
}

.my-table tr td {
	height: 31px;
	padding: 10px;
	align-content: flex-start;
	border-collapse: separate
}

nav div ul li :hover {
	color: #17a2b8 !important
}

nav div ul li :active {
	color: white !important
}

table {
	transition: box-shadow .3s ease-in-out
}

table:hover {
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px
		rgba(0, 0, 0, 0.04);
	transition: box-shadow .3s ease-in-out
}

.main {
	background-color: white;
	font-size: 9px;
	font-family: Arial, Helvetica, sans-serif
}

.table-row {
	display: none
}

.location-main {
	display: none;
}

#dpid-main {
	display: none;
}

#kins-main {
	display: none;
}

#admin-main {
	display: none;
}
#admin-create {
	display: none;
}
#admin-update {
	display: none;
}

#cash-main {
	display: none;
}

#my-card {
	margin: 0px
}

#my-card-body {
	margin: 0px
}

.m-table tr td {
	vertical-align: middle;
	border-collapse: separate;
	padding-left: 3px;
	padding-bottom: 1px;
	padding-right: 1px;
	padding-top: 1px;
	font-size: 9px;
	/* width: fit-content; */
	/* white-space: nowrap; */
}

div table tr td:first-child {
	font-weight: bold;
}

div table tr td:nth-child(3) {
	font-weight: bold;
}

div table tr td:nth-child(5) {
	font-weight: bold;
}

div table tr td:nth-child(7) {
	font-weight: bold;
}

.form-control-sm {
	font-size: 10px;
	font-family: Arial, Helvetica, sans-serif
}

h6 {
	font-size: 12px !important;
	color: #337ab7;
}

#location-view {
	display: none
}

#create-location-view {
	display: none
}

#dpid-create-view {
	display: none;
}

#dpid-view {
	display: none
}

#dptv-create-view {
	display: none;
}

#stat-view {
	display: none;
}

#real-view {
	display: none;
}

#real-create-view {
	display: none;
}

#bank-view {
	display: none;
}

#dptv-view {
	display: none
}

#create-cash-view {
	display: none;
}

#cash-view {
	display: none
}

#dept-create-view {
	display: none;
}

#dept-view {
	display: none
}

#kins-view {
	display: none
}

.card-body {
	padding-bottom: 0px;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	color: #337ab7 !important;
}

table tr td {
	padding: 5px
}

/*.selected{
    background-color: #17a2b8 !important;
    color:white;
    font-weight: bold;
}*/
#menu-bar {
	background-color: #337ab7;
}

#top-nav {
	height: 50px !important;
	background-color: white;
}

#headerSpan {
	color: #337ab7;
	font-weight: bold;
}

h3 {
	font-weight: bold;
}

.btn {
	background-color: #337ab7 !important;
	color: white;
	font-size: 9px
}

#tabelHead {
	background-color: #337ab7 !important;
	color: white;
}

nav div ul li a:hover {
	color: #337ab7 !important;
	background-color: white !important;
	/* border: 1px solid #337ab7 !important; */
}

/* .table_id {
    max-height: 360px;

}


.table-responsive{
    overflow-y:scroll;
    height:440px;
} */

/* .form-control-sm{
    width:200px !important;
} */
.dataTables_scrollHeadInner {
	width: 100% !important
}

#table_id_stat {
	max-width: 100% !important;
}

.ui-widget {
	font-size: 12px !important;
}

h2 {
	font-size: 17px !important;
}